{% extends 'shared/base.html' %}

{% block content %}
    <h1>Libraries</h1>


    <ol>
    {% for library in all_libraries %}
        <li>
            {{ library.title }}
            ({{ library.address }})
            <ul>
            {% comment %}
              book_set.all is how we "reverse lookup" the books that belong to a library. Behaves much like _embed from json-server
            {% endcomment %}
            {% for book in library.book_set.all %}
                <li>{{ book.title }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ol>
{% endblock %}
